In [10]:
#task3
import pandas as pd

data = {
    "Name": ["Yersultan", "Kuanysh", "Arystan", "Danial", "Ruslan"],
    "Age": [19, 40, 15, 26, 5],
    "Score": [90, 75, 67, 34, 1]
}

df = pd.DataFrame(data)

In [11]:
#task4.1
print(df.head(3))

        Name  Age  Score
0  Yersultan   19     90
1    Kuanysh   40     75
2    Arystan   15     67

In [12]:
#task4.2
print(df.describe())

             Age      Score
count   5.000000   5.000000
mean   21.000000  53.400000
std    13.057565  35.753322
min     5.000000   1.000000
25%    15.000000  34.000000
50%    19.000000  67.000000
75%    26.000000  75.000000
max    40.000000  90.000000

In [13]:
#task4.3
average = df["Score"].mean()
print("Average score:", average)

Average score: 53.4

In [14]:
#task5.1
older20 = df[df["Age"] > 20]
print(older20)

      Name  Age  Score
1  Kuanysh   40     75
3   Danial   26     34

In [15]:
#task5.2
score_above_80 = df[df["Score"] > 80]
print(score_above_80)

        Name  Age  Score
0  Yersultan   19     90